* {
    font-family: 'Nunito Sans', sans-serif;}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}

.Header__logo > img {
    height: 100px;
}

.Header__nav-items > ul {
    list-style: none;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.Body__search {
    padding: 10px;
    
}


.RestaurantCard {
    width: 250px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 10px;
}