.Header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.Header__logo > img {
  height: 100px;
}

.Header__nav-items > ul {
  list-style: none;
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.Header__nav-items-btn {
  /* font-size: 30px; */
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}